@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Login .thumbnail {
    margin: 0 auto;
    background-color: #d4d7db;
    border-radius: 10px;
    max-width: 320px;
  }

}

.Login .landerForm {
  height:auto;
  width:377px;
  padding:32px;
  right:200px;
  top:100px;
  position:absolute;
  border-radius:10px;
}
