.detail-component-area {
  box-sizing: border-box;
  color: rgb(97, 97, 97);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.85px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  width: 1170px;
}

.detail-view {
  margin-top: 45px;
  color: #6e6e6e;
  font-weight: 100;
}

.detail-box {
  background-color: #fff;
  margin-bottom: 7px;
  box-shadow: 0 .5px 3px 0 rgba(0,0,0,.14);
}

.space-desc {
  font-size: 20px;
  font-weight: 400;
}

.detail-box .own-space.space-title {

    background: orange;
    font-weight: 400;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;

}
.detail-box .own-space {
    padding-left: 22px;
}

.detail-placeholder-pic {
    height: 320px;
    width: 100%;
}

.detail-box .own-space.space-pricing {

    padding-left: 35px;
    padding-bottom: 10px;
    margin-bottom: 16px;

}
.detail-box .own-space {
    padding-left: 22px;
}
.col-md-12 {
    width: 100%;
}

.detail-placeholder-pic {
    height: 320px;
    width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
