@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.Signup .thumbnail {
  margin: 0 auto;
  background-color: #d4d7db;
  border-radius: 10px;
  height:319px;
  width:377px;
}

.Signup .signupForm {
  width:377px;
  height:auto;
  padding:32px;
  left: 500px;
  top:100px;
  position:absolute;
  border-radius:10px;
}
